@media screen and (max-width: 1200px){

    .navbar {
        margin-top: 10px;
        height: 0px;
        margin-left: 560px;
        display: flex;
        width: 40%;
        justify-content: space-around;
    }



}
@media screen and (max-width: 992px){
    


}
@media screen and (max-width: 768px){
    


}
@media screen and (max-width: 480px){
    


}
@media screen and (max-width: 320px){
    


}